.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-orange);
  min-height: 55px;
}

.header__logo {
  margin-right: 7px;
}

.header__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: var(--basic-white);
  opacity: 0.7;
}
