/* Variables */

:root {
  --basic-orange: #F55A5A;
  --basic-black: #000000;
  --basic-brown: #2B283A;
  --basic-gray: #918E9B;
  --basic-light-gray: #E5E5E5;
  --special: #f5f5f5;
  --basic-white: #FFFFFF;
}

/* Global */

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  color: var(--basic-brown);
  background: var(--basic-light-gray);
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

